@-webkit-keyframes wat {
	0% {
		transform: translateZ(0) scale(1);
	}
	100% { 
		transform: translateZ(0) scale(.9);
	}
}

.reveal section .redux-logo {
	background: none;
	box-shadow: none;
	border: none;
	display: block;
	width: 50%;
	margin: 0 auto;
	animation-name: wat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    transform: translate3d(0px, 0px, 0px);
    -webkit-filter: drop-shadow(12px 12px 7px #000);
    backface-visibility: hidden;
}										

.reveal .code { 
	font-size: 1.2em; 
	color: #E6E2AF;
}

.reveal .pre-maluco { display: inline-block; text-align: center; }
.reveal .pre-maluco code { display: inline-block; text-align: left; }

/*.reveal .data-flow #caixa1 { display: none; }*/

.reveal .color-yellow { color: #E6E2AF; }

.reveal .data-flow-wrap { 
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.5);
	display: inline-block;
	text-align: center;
	padding: 0.2em;
	box-shadow: 0 0 12px white;
 }

 .reveal .data-flow,
 .reveal .data-flow-wrap svg,
 .reveal .data-flow-wrap object,
 .reveal .data-flow-wrap .data-flow {
 	display: block;
 	margin: 0 auto;
 	box-shadow: none;
 	background: none;
 	border: none;
 	max-width: 100%;
 }